{
  "prettier.printWidth": 80,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "parser": "babel-ts",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "parser": "json"
      }
    }
  ]
}
